<div id="game-container">
    <div id="gameboard">
        <svg id="game-board" width="500" height="450" viewBox="0 0 400 350">
        {% for col in range(7) %}
            <g>
            {% for row in range(6) %}
                <!-- select circle -->
                <circle class="circle-select col-{{col}} row-{{row}}" r="6" cx="{{ 50 * col + 50 }}" cy="{{50 * row + 50 }}" fill="white"/>
                <!-- circle draw -->
                <circle class="circle-draw col-{{col}} row-{{row}}" r="16" cx="{{ 50 * col + 50 }}" cy="{{ 50 * row + 50 }}" fill="white" stroke="white" stroke-width="3" visibility="hidden"/>
            {% endfor %}
            <!-- select column -->
            <rect id="select-col-{{col}}" x="{{50 * (col + 1) - 25}}" y="0" width="50" height="350" fill="rgba(0, 0, 0, 0)"></rect>
            </g>
        {% endfor %}
        </svg>
    </div>
</div>

<div class="state-container">
    <p id="state-text"></p>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/connect_four.css') }}">
<script src="{{ url_for('static', filename='scripts/connect_four/constants.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/connect_four/view.js') }}"></script>