#game-board {
    border: solid white 1px;
    background: black;
	width: 22em;
	height: 22em;
	border-radius: 14px;
	text-align: center;
	margin: auto;
}

@media screen and (min-width: 80rem) {
	#game-board {
		width: 30em;
		height: 30em;
	}
}
  
.state-container {
	width: fit-content;
	text-align: center;
	margin: auto;
	margin-top: 1.4em;
}

#state-text {
	font-size: 1.4em;
	display: inline-block;
}
