#game-container {
    text-align: center;
}

#gameboard {
    border: solid white 4px;
    background: black;
	width: min-content;
	height: min-content;
	border-radius: 25px;
	text-align: center;
	margin: auto;
}

body {
    background: black;
}

.state-container {
	border: white 4px solid;
	width: fit-content;
	text-align: center;
	margin: auto;
	margin-top: 2em;
}

#state-text {
	color: white;
	font-family:'Courier New', Courier, monospace;
	font-size: 2em;
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
}
