#game-board {
    border: solid white 4px;
    background: black;
	width: min-content;
	height: min-content;
	border-radius: 25px;
	text-align: center;
	margin: auto;
}

.state-container {
	width: fit-content;
	text-align: center;
	margin: auto;
	margin-top: 2.0em;
}

#state-text {
	font-size: 1.4em;
	display: inline-block;
}
