h1 {
	margin: 2em;
	font-size: 4em;
	color: white;
	text-align: center;
}

.form-container {
	padding-top: 2em;
	background-color: white;
	border-radius: 0.4em;
	padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.form-field, .form-button {
	margin: 1.4em;
	display: block;
	text-align: center;
}

.form-button {
	margin: auto;
	font-size: 1.0em;
}

select {
	font-size: 1em;
	text-align: center;
	border-radius: 0.2em;
}

input {
	border-radius: 0.2em;
}