.grid {
    display: table;
	margin-left: auto;
	margin-right: auto;
}

.row {
    display: table-row
}

.cell {
	width: 100px;
	height: 100px;
	font-size: 6em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Brush Script MT';
}

@media screen and (min-width: 80rem) {
	.cell {
		width: 150px;
		height: 150px;
		font-size: 8em;
	}
}

.state-container {
	width: fit-content;
	text-align: center;
	margin: auto;
	margin-top: 2.0em;
}

#state-text {
	font-size: 1.4em;
	display: inline-block;
}

#state-symbol-text {
	font-size: 1.4em;
	font-family: 'Brush Script MT';
	display: inline-block;
}

.col-0 {
	border-bottom: 2.5px black solid;
}

.col-1 {
	border-bottom: 2.5px black solid;
}

.row-1 {
	border-right: 2.5px black solid;
}

.row-0 {
	border-right: 2.5px black solid;
}